@import "tailwindcss";

@theme {
  --color-cream: #F7F2EB;
  --color-sand: #E8DCC6;
  --color-taupe: #A68B6F;
  --color-taupe-dark: #4A3B2A;
  --color-terracotta: #C27C59;
  --color-sage: #A5B8A9;

  --font-serif: "Google Sans Flex", sans-serif;
  --font-sans: var(--font-inter);
}

body {
  background-color: var(--color-cream);
  color: var(--color-taupe-dark);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}
